{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>Method statement</h1>
                <h3>1.Brickwork & Block work</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">1.1 - Chapter 2: Method Statement for Shoring Wall Block Work.</a><br>
                <h3>2.Concreting</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">2.1-Chapter 1: Method Statement for Raft Slab Concrete Pouring</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">2.2-Chapter 3: Method Statement for Casting Concrete on Vertical Elements</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">2.3-Chapter 3: Method Statement for Casting Concrete on Vertical Elements</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMlI0bzdTb3B0eVk">2.4- Admixtures</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVed0hMdE0wd0lyTE0">2.5-Material and concrete testing</a><br>
                <h3>3.Formwork</h3>
                <h3>4.Foundation</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVed0hMdE0wd0lyTE0">4.1 Material and concrete testing</a><br>
                <h3>5.Painting</h3>
                <h3>6.Piling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeTjJKTUdTazlYUFU">6.1-River wall sheet piling</a><br>
                <h3>7.Plastering</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">7.1-Chapter 6: Method Statement for Normal Cement Site-Mix Plaster Works</a><br>
                <h3>8.Rebaring</h3>
                <h3>9.Tiling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">9.1-Chapter 8: Method Statement for Kerbstone and Interlock Tiles</a><br>
                <h3>10.Water proofing</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeZHd2aGFyVUw3YW8">10.1 - Basement waterproofing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeZHgwR0x6NEY5OHM">10.2-Waterproofing-memthod statement</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVednhpZ0x6NzZVa0k">10.3 - Roof / Terrace Waterproofing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMkJ4d0x6VjBHQlU">10.4-Chapter 11: Method Statement for Water Leakage Test for
                    Curtain Walls
                </a><br>
                <h1>ICTAD Documents</h1>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}