{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="font-family: Arial, Helvetica, sans-serif;font-size:12px;">
                <h1>Training Materials</h1><br>
                <h2>Construction Woks</h2>
                <h3>1.Brickwork & Block work</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeLWlGcUwxb2RSWGM">1.1-BUILDING WITH BRICKS OR BLOCKS</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQ184TUNHY2VOalE">1.2-Fixing Door & Window Frames</a><br>
                <h3>2.Concreting</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWjNYNjFwOVZfXzA">2.1-Compaction of Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeaTRQbkxKcFF1b1U">2.2-Cover to Reinforcement</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeaEJxb21lZ09TOFk">2.3-CURING</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeb3M2emhwN2h5VGs">2.4-Effect of Water on Concrete</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeN3RuR1dtbzBFVGc">2.5-FINISHING OF CONCRETE</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeU2x4M2toekdtdzA">2.6-Manual Concrete Mixing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeV25GV1kxeGpKakk">2.7-Mixing of Concrete by Mixer</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWG9SdWR4M29NRWM">2.8-PLACING OF CONCRETE</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQlhTR2pISjdHM2c">2.9-Plinth Beam</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeRDRNRTN1YlRoVkU">2.10-Prevention Of Plastic Shrinkage Cracks</a><br>
                <h3>3.Formwork</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeeWszWkFkOWZiQVk">3.1-Column Shuttering</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVec0R4STE4b1hkN1k">3.2-Formwork</a><br>
                <h3>4.Foundation</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMGc3Z05XRTk1cm8">4.1-Excavation in Gravely Soils</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeQldBYWRBOHQ1aXc">4.2-RCC Footing</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVJxYUI5TFpIa00">4.3-Stone Masonry Footing</a><br>
                <h3>5.Painting</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVE3c2tSOGRrYlU">5.1-Painting</a><br>
                <h3>6.Piling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeRUVhLXYzaGtiM3M">6.1-Concealed Piping.</a><br>
                <h3>7.Plastering</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVedDYtY3c4UEVOdUk">7.1-PLASTERING IN EASY STEP</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeSVVwNWxybEs1Nkk">7.2-Problems In Plastering</a><br>
                <h3>8.Rebaring</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWmZSbnlLT2RodVU">8.1-Detailing Of Reinforcement</a><br>
                <h3>9.Tiling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeTWwxQXRnX1FKRU0">9.1-Fixing Of Wall Tiles</a><br>
                <h3>10.Water proofing</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWmtZYVJ5VUFBYUE">10.1-WATER PROOFING OF CONCRETE</a><br><br>
                <h2>Safety</h2>
                <h3>1.Safety equipment</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeZW9UOTNNcFNKR2c">1.1-10 Best Men's Work Boots 2017</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeMWZycC02aWluR00">1.2-Site Safety and Health Management Construction</a><br>
                <h3>2.Overall</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeOWxNQzRMcENfdVU">2.1-Basic Safety Tips On A Construction Site</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeNUZleThHSVBwdkU">2.2-Construction Safety Tips	</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeWUFmY1FHOFR6NVE">2.3-safety rules construction site</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeOWJsbkNOc1hLMk0">2.4-Working at Height Safety</a><br>
                <h3>3.Material handling</h3>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeM25FTjEwTnJfS1E">3.1-Material Handling Safety Training</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVeRHl6SmxwbEZ4SDg">3.2-Material Storage Safety</a><br>
                <a href="https://drive.google.com/open?id=0Bz02_NbbNZVecEpod0UwM0V0dU0">3.3-Occupational Safety Done Right - Material Handling</a><br>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}