{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <style>
                label {
                    /* Other styling.. */
                    text-align: right;
                    clear: both;
                    float: left;
                    margin-right: 15px;
                    font-size: medium;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: normal;
                }

            </style>


            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h1>Select the most appropriate answer based on your construction site</h1>
                        <h5>......................................................................................................................................................................................................................................................................................................................................................................................</h5><br>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <style>
                            .div123{
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        </style>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        {#<input type="submit" value="Create" class="btn btn-default" style="display: flex;justify-content: center" />#}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>





{% endblock %}