{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <style>
                label {
                    /* Other styling.. */
                    text-align: right;
                    clear: both;
                    float: left;
                    margin-right: 15px;
                }
            </style>
            <h1>Issue creation</h1>

            <div class="container">
                <div class="row">
                    Questions
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        {#<input type="submit" value="Create" class="btn btn-default" style="display: flex;justify-content: center" />#}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>





{% endblock %}